.column-1{
  float:left;
  width:48%;
  background-color:yellow;
  padding: 1px;
}

.column-2{
  float:right;
  width:48%;
  background-color:grey;
  padding 1px;
}

footer{
  clear:both;
  text-align:center;
}

h2{
  font-family:Helvetica;
}